.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#title{
  text-align: center;
}

li{
  list-style: none;
}

.nav-bar{
  display: flex;
  justify-content: right;
  margin-right: 30px;
  .button {
    background-color: rgba(255, 253, 253, 0.807);
    padding: 10px; 
    border-radius: .5rem;
    cursor: pointer;
    border: none;
    margin-right: 15px;

    &:active, &:focus, &:hover{
      background-color: cornflowerblue;
      color: white;
      font-size: 1rem;
      font-weight: bold;
    }

    &:hover{
      color: black;
    }
  }
}



.side-bar-container{
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  // border: 2px solid white;
  // background-color: rgba(255, 255, 255, 0.601);
  height: fit-content;
}

.side-bar-container > button{
  border: none;
  border-radius: .5rem;
  height: 50px;
  width: 50px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.495);
  margin-left: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
   
  &:hover{
    outline: 3px solid white;
    box-shadow: none;
    outline-offset: 3px;
  }

}

body{
  background-color: cornflowerblue;
  color: white;
}


.main-area{
  // border: 2px solid white;
  border-radius: 1rem;
  max-height: 800px;
  width: 500px;
  min-width: 500px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.individual{
  background-color: white;
  height: 90px;
  color: black;
  border-radius: 1rem;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1.5rem;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.42);

  > p{
    // background-color: red;
    margin: 0;
    margin-bottom: 3px;
    font-weight: 300;

    &:first-child{
      font-weight: bolder;
    }
  }
}

.main-area > .line-break{
  height: 1px;
  width: auto;
  border : 2px solid white; 
}

.body-container{
  display: flex;
  flex-wrap: wrap;
}

.history-container{
  margin: inherit;
}

.history-container > .content{
  border: 2px solid white;
  flex-basis: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.history-container > .title{
  margin: 20px 0px 0px 20px;
}

// table {
//   table-layout: fixed;
//   width: 100%;
//   border-collapse: collapse;
// }

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 10px;
  border-color: gray;
}


.body-container{
  margin-top: 50px;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
}
